<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/bootstrap-5.2.0-dist/css/bootstrap.css">


</head>
<body id="body" class="bg-dark">
<input type="hidden" id="user-name" th:value="${user_name}">


<div id="app-scripts" th:insert="blocks/app-scripts :: scripts"></div>
<div id="app-header" th:insert="blocks/app-header :: header"></div>
<div id="app-header-placeholder"style="height: 70px;"></div>



<footer class="text-muted py-5">
    <div class="container">
    </div>
</footer>

</body>
</html>