<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/bootstrap-5.2.0-dist/css/bootstrap.css">


</head>
<body>
<input type="hidden" id="user-name" th:value="${user_name}">


<div id="app-scripts" th:insert="blocks/app-scripts :: scripts"></div>
<div id="app-header" th:insert="blocks/app-header :: header"></div>
<div id="app-header-placeholder"style="height: 70px;"></div>

<button id="navigate-control-left" class="carousel-control-prev" type="button" style="max-width: 100px;">
    <span class="carousel-control-prev-icon bg-secondary position-fixed" aria-hidden="true" onclick="window.navigate('left')"></span>
    <span class="visually-hidden">Предыдущий</span>
</button>

<button id="navigate-control-right" class="carousel-control-next" type="button" style="max-width: 100px;">
    <span class="carousel-control-next-icon bg-secondary position-fixed" aria-hidden="true" onclick="window.navigate('right')"></span>
    <span class="visually-hidden">Следующий</span>
</button>



<footer class="text-muted py-5">
    <div class="container">
<!--        <p class="float-end mb-1">-->
<!--            <a href="#">Back to top</a>-->
<!--        </p>-->
    </div>
</footer>

</body>
</html>