<div th:fragment="scripts">

    <script th:inline="javascript" type="module">
        import {loadClientData} from './app.js';

        window.currentUser = {
            userName: '',
            userAlias: '',
            currentIndex: 0,
            maxResultCount: 0,
            dataSource : '',
            lastViewed : '',
            siteMap : null,
            clientData: null,
            userProfile: null
        };

         window.maxResultCount = 1;
         window.dataSource = [[${data_source}]];

        document.addEventListener("DOMContentLoaded", function() {
            loadClientData(window.dataSource, 0);
        });
    </script>

    <script th:inline="javascript" type="module">
    const appHost = "http://192.168.1.110:8080";
        import {loadClientData} from './app.js';
        import {navigateClientData} from './app.js';
        import {prepareIndex} from './app.js';
        import {getUserProfile} from './app.js';

        window.navigate = function navigate(direction) {                
                let index = prepareIndex(direction);
                console.log("direction : " + direction + " : " + index);
                navigateClientData(window.dataSource, index)
        }
        window.navigateClientCatalogData =  function navigateClientCatalogData(dataSource, siteName, startIndex){
                let url = dataSource + siteName;
                console.log("catalog  data source : " + url);
                navigateClientData(url, startIndex)
                let navTitle = document.querySelector('#navigated-title');
                navTitle.textContent = siteName;
        }
        window.search = function search(dataSource){
                let searchInput = document.querySelector('#search-input');
                let url = dataSource + '/' + searchInput.value;
                navigateClientData(url, '0')
                console.log("searching : " + url);
        }
         window.getUser = function getUser(){
                document.querySelector('#main-navigation').hidden = true;
                document.querySelector('#app-header-placeholder').hidden = true;
                document.querySelector('#footer').hidden = true;

                let url = '/app-user-profiler';
                getUserProfile(url)
                console.log("user profiler url : " + url);
        }
        window.backStep = function backStep(){
            document.querySelector('#profile-control').hidden = true;
            document.querySelector('#app-header-placeholder').hidden = false;
            document.querySelector('#main-navigation').hidden = false;
            document.querySelector('#footer').hidden = false;

            window.userProfile = null;

            let mainContainer = document.querySelector('#current-view');
            let temp = mainContainer.innerHTML;

            mainContainer.innerHTML = window.lastViewed ;

            window.lastViewed = temp;
        }
        window.setCookie = function setCookie(username){
            let date = new Date(Date.now() + 86400e3);
            date = date.toUTCString();
        
            if(username != undefined){
            let cookie = 'username=' + username + '; path=/; expires=' + date + '; samesite=strict;';
               document.cookie = 'username=' + username + '; path=/; expires=' + date + '; samesite=strict;';
               console.log("Set cookie : " + cookie);
            }
        }
        window.reLogin = function reLogin(){
            window.location.replace(appHost);
        }
        window.disableElement = function disableElement(id, state){
            console.log('state : ' + state + ' id : ' + id);
            document.getElementById(id).disabled = state;
        }
    </script>
</div>